<!-- edit page with form -->
<section>
  <h2>Edit Trip #<%= @trip.id %></h2>
  <%= render 'form' %>
  <p><%= link_to 'Show', @trip, :class => 'button show' %> <%= link_to 'Back', trips_path, :class => 'button back' %></p>
</section>
