<section>
  <h2>Edit Announcement #<%= @announcement.id %></h2>
  <%= render 'form' %>
  <p><%= link_to 'Show', @announcement, :class => 'ym-button ym-play' %><%= link_to 'Back', announcements_path, :class => 'ym-button ym-close' %></p>
</section>
