<section>
  <h2>Edit Truck #<%= @truck.id %></h2>
  <%= render 'form' %>
  <p><%= link_to 'Show', @truck, :class => 'ym-button ym-play' %> | <%= link_to 'Back', trucks_path, :class => 'ym-button ym-close' %></p>
</section>
