<!-- edit page with form -->
<section>
  <h2>Edit Truck #<%= @truck.id %></h2>
  <%= render 'form' %>
  <p><%= link_to 'Show', @truck, :class => 'button show' %> <%= link_to 'Back', trucks_path, :class => 'button back' %></p>
</section>
