<section>
  <h2>About Us</h2>
  <section>
    <h3>Our Mission</h3>
    <p>Go Fast Express believes in assisting businesses to succeed by delivering world-wide transportation solutions. We are confident in our ability to drive costs from your transportation spending. Our goal is to reduce your overall expense while maximizing supply chain management efficiency. In addition to direct cost savings, you will also save indirect dollars in several other areas. We are pursuing a vision to be a recognized national carrier and to be the most sought-after transportation provider worldwide.</p>
  </section>
  <section>
    <h3>Our History</h3>
    <p>Go Fast Express was started by our CEO, Mr. Tarachand Isree in 2004. With a single straight truck, he provided transportation services in the greater Toronto area. With the goal of expanding the company in mind, he has grown Go Fast Express to a company with over 10 tractors, 13 trailers and 15 experienced employees. Go Fast Express currently provides complete LTL and TL coverage in various provinces throughout Canada.</p>
  </section>
  <section>
    <h3>Our Principals</h3>
    <p>At Go Fast Express, one of our main philosophies is to provide our employees with a sense of ownership. We do this by involving them in discussions and decision making. By talking to our employees, we are able to see from their point of view, enabling us to improve our services where needed immediately. This philosophy has remained useful over the years, as proven by our consistently punctual deliveries, claim free/damage free shipments, and our excellent customer service.</p>
  </section>
  <section>
    <h3>Plans for the future</h3>
    <p>Go Fast Express strives to be a cost efficient company, committed to our mission of expansion and development of our services throughout Canada and the United States. Our clients can rely on our commitment to build professional and mutually beneficial ventures with them, and to make those ventures successful.</p>
  </section>
</section>
