<!-- index page for external users/ landing page -->
<section>
  <h2>Welcome to Go Fast Express!</h2>
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <div id="announcements">
  <% @announcements.each do |announcement| %>
    <section>
      <h3><%= link_to announcement.title.truncate(34), "/announcements/#{announcement.id}" %></h3>
      <p>Posted: <%= truncate(announcement.date_posted.to_s, :length => 10, :omission => '') %></p>
      <p><%= announcement.content.truncate(200) %></p>
    </section>
  <% end %>
  </div>
  <section>
    <h3>How We Can Help You</h3>
    <p class="justify">We believes in assisting businesses succeed by delivering world-wide transportation solutions. We are confident in our ability to drive costs from your transportation spending. Our goal is to reduce your overall expense while maximizing supply chain management efficiency. In addition to direct cost savings, you will also save indirect dollars in several other areas. We are pursuing a vision to be a recognized national carrier and to be the most sought-after transportation provider worldwide.</p>
  </section>
  <div class="clear"></div>
</section>
