<section>
  <h2>Welcome to Go Fast Express!</h2>
  <div id="announcements">
    <div class="ym-grid">
      <div class="ym-g33 ym-gl ">
        <div class="ym-gbox">
          <h3>Canada Day!</h3>
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        </div>
      </div>
      <div class="ym-g33 ym-gl">
        <div class="ym-gbox">
          <h3>Good Friday & Easter</h3>
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        </div>
      </div>
      <div class="ym-g33 ym-gl">
        <div class="ym-gbox">
          <h3>Family Day!</h3>
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        </div>
      </div>
      <div class="ym-g33 ym-gl">
        <div class="ym-gbox">
          <h3>New Years</h3>
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        </div>
      </div>
      <div class="ym-g33 ym-gl">
        <div class="ym-gbox">
          <h3>Christmas</h3>
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        </div>
      </div>
      <div class="ym-g33 ym-gl">
        <div class="ym-gbox">
          <h3>Thanksgiving</h3>
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        </div>
      </div>
    </div>
  </div>
</section>
