<section>
  <h2>Welcome to Go Fast Express!</h2>
  <div id="announcements">
  <% @announcements.each do |announcement| %>
    <section>
      <h3><%= link_to announcement.title.truncate(34), "/announcements/#{announcement.id}" %></h3>
      <p>Posted: <%= truncate(announcement.date_posted.to_s, :length => 10, :omission => '') %></p>
      <p><%= announcement.content.truncate(200) %></p>
    </section>
  <% end %>
  </div>
</section>
