<!-- new application form -->
<section>
  <h2>Applying for <%= @job_application.title %></h2>
  <%= render 'form' %>
  <p><%= link_to 'Back', job_postings_path, :class => 'button back' %></p>
</section>