<section>
  <h2>Schedule</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Truck No.</th>
	<th scope="col">Leaves</th>
	<th scope="col">Returns</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
	<td>Monday June 9</td>
	<td>Tuesday June 10</td>
      </tr>
      <tr>
        <td>2</td>
	<td>Tuesday June 10</td>
	<td>Wednesday June 11</td>
      </tr>
    </tbody>
  </table>
</section>
