<section>
  <h2>Edit Trailer #<%= @trailer.id %></h2>
  <%= render 'form' %>
  <p><%= link_to 'Show', @trailer, :class => 'button show' %> <%= link_to 'Back', trailers_path, :class => 'button back' %></p>
</section>
