<!-- edit page with form -->
<section>
  <h2>Edit <%= @company.name %></h2>
  <%= render 'form' %>
  <p><%= link_to 'Show', @company, :class => 'button show' %> <%= link_to 'Back', companies_path, :class => 'button back' %></p>
</section>
