/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require vendor
 *= require_self
 *= require_tree .
 */

$header-bg-color: #50B5D3;
$nav-bg-color: darken($header-bg-color, 35%);
$footer-bg-color: #222;

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

/* Now, 1.4rem = 14px */
/* Can do:
   font-size: 14px;
   font-size: 24px;
   for compatibility with older browsers
*/

body{
  font-family: "Droid Sans", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;

  > div:first-child{
    background: $header-bg-color url('header_bg.png') repeat bottom left;
  }

  > div:nth-child(2){
    background: $nav-bg-color url('nav_bg.png') repeat top left;
    border-bottom: 0.2rem solid #F60;
  }

  > div:last-child{
    background-color: $footer-bg-color;
  }
}

div{
  header, nav, #content, footer{
    max-width: 102rem;
    margin: 0 auto;
  }
}

#content, footer{
  padding: 2.1rem;
}

header{
  color: #CCC;
  
  img{
    background: transparent;
    color: #FFF;
    margin: 1.4rem 0;
    border: none;
  }
  
  a{
    text-decoration: none;
  }
  
  h1{
    display: inline;
    margin: 0;

    a:hover{
      background-color: transparent;
    }
  }
  
  h2{
    display: inline;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    color: #EEE;
    font-family: "Jockey One", "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    float: right;
    position: relative;
    top: 4rem;
  }
}

div:nth-child(2){
  nav{
    font-family: 'Jockey One', 'Droid Sans', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    
    ul{
      li{
        display: inline-block;
        list-style-type: none;
        
        a{
          color: #CCC;
          display: block;
          line-height: 2.2rem;
          padding: 1.3rem;
          text-decoration: none;
          text-transform: uppercase;
          transition: all 200ms  ease-in-out 0s;
        }
        
        a:hover, a:active{
          background-color: #EEE;
          color: #222;
        }
      }
    }
  }
}

#content{
  
}

footer {
  color: #DDD;
  background: #222;

  a{
    color: #F60;

    &:hover, &:active{
      color: #EEE;
    }
  }

  ul{
    margin-bottom: 0.5rem;

    li{
      display: inline;
      margin-left: 0;

      &:after{
        content: " |";
        color: #FFF;
      }

      &:last-child:after{
        content: "";
      }
    }
  }
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
  color: #222;
  letter-spacing: -0.2rem;
}

h2{
  margin-bottom: 2.1rem;
  font-size: 3.4rem;
}

h3{
  margin: 1.8rem 0;
  font-size: 2.8rem;
}

a{
  color: #147997;
  text-decoration: none;

  &:hover, &:actuve{
    text-decoration: underline;
    color: #50B5D3;
  }
}

#notice{
  color: #C30;
}

/* Styles for forms */
form{
  border: 0.1rem solid #AAA;
  background-color: #F4F4F4;
  margin: 2rem 0;
  width: 100%;
  display: inline-block;

  *{
    
    &:nth-child(2){
      margin-top: 1.5rem;
    }

    &:last-child(2){
      margin-bottom: 1.5rem;
    }
  }

  .footer{
    background-color: #ECECEC;
    border-top: 0.1rem solid #E0E0E0;
    padding: 2.1rem 1.4rem;
    margin: 1.5rem 0 0 0;
  }
}

label{
  color: #666;
  line-height: 1.5;
  margin-top: 1rem;
  margin-left: 1.5rem;
  display: block;
}

input[type="text"], input[type="number"], input[type="password"], input[type="radio"], input[type="checkbox"], select, textarea{
  margin-left: 1.5rem;
}

input[type="text"], input[type="number"], input[type="password"], textarea, select{
  padding: 0.4rem;
  border: 0.1rem solid #DDD;
  box-shadow: 0 0 0.4rem #EEE inset;

  &:hover, &:active, &:focus{
    border: 0.1rem solid #888;
  }
}

input[type="text"], input[type="number"], input[type="password"]{
  width: 30rem;
}

input[type="submit"], input[type="image"], button{
  background-color: #ECF0F1;
  border: 0.1rem solid darken(#FFF, 30%);
  transition: all 200ms ease-in-out 0s;
  color: #333;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 2.1rem;
  font-size: 1.6rem;
  margin: 0;

  &:hover, &:active, &:focus{
    background-color: #BDC3C7;
    border: 0.1rem solid darken(#FFF, 50%);
  }
}

select{
  margin-right: 1rem;
}

/* Styles for tables */
table{
  border-bottom: 0.1rem solid #CCC;
  border-collapse: collapse;
  border-top: 0.1rem solid #CCC;
  color: #444;
  margin: 2.5rem 0;
  text-align: left;
  width: 100%;

  thead{
    border-bottom: 0.2rem solid #000;
    color: #000;
  }

  tbody{
    
    tr{
      border-top: 0.1rem solid #CCC;

      &:hover, &:active{
        background-color: darken(#FFF, 10%);
      }
    }
  }

  th, td{
    line-height: 1.5rem;
    padding: 1.5rem 0.8rem;
    vertical-align: center;
  }
}

/* Button styles */
.button{
  color: #333;
  cursor: pointer;
  display: inline-block;
  font: 1.8rem/3.6rem Arial, Helvetica;
  margin: 0 1.1rem 0 0;
  overflow: visible;
  padding: 0 2.3rem;
  whitespace: nowrap;
  border: 0.1rem solid darken(#FFF, 50%);
  border-radius: 0.2rem;
  transition: all 200ms ease-in-out 0s;
  background-color: #ECF0F1;

  &:hover, &:active, &:focus{
    background-color: #BDC3C7;
  }

  &:before{
    float: left;
    margin: 0 2.3rem 0 -2.3rem;
    border-right: 0.1rem solid darken(#FFF, 50%);
    background-color: darken(#FFF, 30%);
    padding: 0 0.6rem;
    text-align: center;
    font-size: 2.4rem;
    width: 2.2rem;
  }
}

table{
  .button{
    color: #FFF;
    border: 0.1rem solid darken(#FFF, 50%);
    padding: 0;

    &:before{
      background-color: rgba(0, 0, 0, 0.1);
      border: none;
      margin: 0;
    }
  }

  .show{
    background-color: #1ABC9C;
    
    &:hover, &:active, &:focus{
      background-color: darken(#1ABC9C, 10%);
    }
  }

  .edit{
    background-color: #E67E22;
    
    &:hover, &:active, &:focus{
      background-color: darken(#E67E22, 10%);
    }
  }

  .destroy{
    background-color: #E74C3C;
    
    &:hover, &:active, &:focus{
      background-color: darken(#E74C3C, 10%);
    }
  }
}

.back:before{
  content: '\2715';
}

.new:before{
  content: '\271A';
}

.show:before{
  content: '\25B6';
}

.edit:before{
  content: '\270E';
}

.destroy:before{
  content: '\2718';
}
