/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require vendor
 *= require_self
 *= require_tree .
 */

body{
  font-family: "Droid Sans", Arial, Helvetica, sans-serif;
  direction: ltr;
  background: rgb(250, 250, 250);
  
  a{
    color: rgb(20, 121, 151);

    &:hover{
      background: none;
      text-decoration: underline;
      color: rgb(80, 181, 211);
    }
  }
}

header{
  /* css generated gradient for the header */
  background: none;
  background: rgb(80, 181, 211); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(80, 181, 211, 1) 0%, rgba(0,115,153,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(80, 181, 211, 1)), color-stop(100%, rgba(0, 115, 153, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(80, 181, 211, 1) 0%, rgba(0, 115, 153,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(80, 181, 211, 1) 0%,rgba(0, 115, 153, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(80, 181, 211, 1) 0%, rgba(0, 115, 153, 1) 100%); /* IE10+ */
  background: linear-gradient(135deg, rgba(80, 181, 211, 1) 0%, rgba(0, 115, 153, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50B5D3', endColorstr='#007399', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  color: #CCC;
  
  img{
    background: transparent;
    color: #FFF;
    padding: 0.3em;
    border: none;
  }
  
  a{
    text-decoration: none;
  }
  
  .ym-wbox{
    padding: 1.5em;
  }
  
  h1{
    display: inline;
    
    a:hover{
      background-color: transparent;
    }
  }
  
  h2{
    display: inline;
    font-size: 150%;
    letter-spacing: 0.03em;
    color: #EEE;
    font-family: "Jockey One", "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 0 7.5em;
    margin-top: 2.5em;
    float: right;
  }
  
  nav{
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #F60;
    
    a{
      font-family: "Jockey One", "Droid Sans", Arial, Helvetica, sans-serif;
    }
  }
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
  color: #222;
  letter-spacing: -2px;
}

p{
  font-size: 1.1em;
}

/* In case we need to use a 3 column layout, I've made it here so they go in chronological order. */ 
.ym-col1{
  width: 33%;
  margin: 0;
} /* left column */

.ym-col2{
  width: 33%;
  float: left;
  margin: 0;
} /* center column */

.ym-col3{
  margin-left: 33%;
  margin-right: 0%;
} /* right column */

form{
  border: 1px solid #AAA;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ym-button, form button, form input[type="button"], form input[type="reset"], form input[type="submit"]{
  background: #ECF0F1;
  border-radius: 0.1em;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  transition: all 200ms ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.3);

  &:hover{
    background: #BDC3C7;
  }

  &:active{
    -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    background: #BDC3C7;
    zoom: 1;
    position: relative;
    top: 0px;
  }

  &:focus{
    outline: 0;
    background: #FAFAFA;
  }
}

form button:before, .ym-button:before{
  background: none;
  background: rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: normal;
}

.ym-button.ym-success, form button.ym-success, form input[type="button"].ym-success, form input[type="reset"].ym-success, form input[type="submit"].ym-success{
  background: #1ABC9C;
  border-radius: 0.1em;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;

  &:hover{
    background: #16A085;
    zoom: 1;
  }

  &:active{
    -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    background: #16A085;
    zoom: 1;
  }

  &:focus{
    outline: 0;
    background: #6C6;
  }
}

.ym-button.ym-warning, form button.ym-warning, form input[type="button"].ym-warning, form input[type="reset"].ym-warning, form input[type="submit"].ym-warning{
  background: #E67E22;
  border-radius: 0.1em;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border: 1px solid rgba(0,0,0,0.3);
  transition: all 200ms ease-in-out;

  &:hover{
    background: #D35400;
    zoom: 1;
  }

  &:active{
    -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    background: #D35400;
    zoom: 1;
  }

  &:focus{
    outline: 0;
    background: #da4;
  }
}

.ym-button.ym-danger, form button.ym-danger, form input[type="button"].ym-danger, form input[type="reset"].ym-danger, form input[type="submit"].ym-danger {
  background: #E74C3C;
  border-radius: 0.1em;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border: 1px solid rgba(0,0,0,0.3);
  transition: all 200ms ease-in-out;

  &:hover{
    background: #C0392B;
    zoom: 1;
  }

  &:active{
    -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    background: #C0392B;
    zoom: 1;
  }

  &:focus{
    outline: 0;
    background: #C66;
  }
}

/* yaml horizontal list (the nav bar) */
.ym-hlist{
  /* (en) containing floats in IE */
  width: 100%;
  overflow: hidden;
  position: relative;
  background: transparent;
  
  ul{
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
  
    li{
      display: inline;
      float: left;
      font-size: 1.0em;
      list-style-type: none;
      margin: 0;
      
      a, strong{
        background: transparent;
        color: #CCC;
        display: block;
        font-size: 1em;
        padding: 0.8em;
        font-weight: normal;
        font-size: 120%;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 200ms ease-in-out;
        text-shadow: none;
        line-height: 1em;
        
        &:focus, &:hover, &:active{
          color: #222;
          border-radius: 0;
          text-decoration: none;
          outline: 0 none;
          background-color: #EEE;
        }
        
        &.active{
          color: #F60;

          &:hover, &:active, &:focus, & strong{
            background: #FC0;
            text-decoration: none;
          }
        }
      }
    }
  }
}

footer {
  color: #DDD;
  background: #222;

  p{
    margin: 0;
  }

  a{
    color: #F60;

    &:hover{
      color: #EEE;
      text-decoration: underline;
      background: none;
    }
  }

  ul{
    margin-bottom: 5px;

    li{
      display: inline;
      margin-left: 0;

      &:after{
        content: " |";
        color: #FFF;
      }

      &:last-child:after{
        content: "";
      }
    }
  }
}

#error_explanation{
  margin: 10px;
  padding: 10px;
  background-color: #333;
  color: #9F9F9F;

  h2{
    color: #9F9F9F;
  }

  ul{
    margin: 0;

    li{
      list-style-type: none;

      &:before{
        color: #FF0000;
        content: "\2718";
        margin-right: 10px;
      }
    }
  }
}
