/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *  Custom styles are in styles.css.scss
 *
 *= require vendor
 *= require_self
 *= require_tree .
 */

body{
  font-family: "Droid Sans", Arial, Helvetica, sans-serif;
}

header{
  background: none;
  background: rgb(80, 181, 211); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(80, 181, 211, 1) 0%, rgba(0,115,153,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(80, 181, 211, 1)), color-stop(100%, rgba(0, 115, 153, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(80, 181, 211, 1) 0%, rgba(0, 115, 153,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(80, 181, 211, 1) 0%,rgba(0, 115, 153, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(80, 181, 211, 1) 0%, rgba(0, 115, 153, 1) 100%); /* IE10+ */
  background: linear-gradient(135deg, rgba(80, 181, 211, 1) 0%, rgba(0, 115, 153, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50B5D3', endColorstr='#007399', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  color: #CCC;
  
  img{
    background: transparent;
    color: #FFF;
    padding: 0.5em;
    border: none;
  }
  
  a{
    text-decoration: none;
  }
  
  .ym-wbox{
    padding: 1.5em;
  }
  
  h1{
    display: inline;
    
    a:hover{
      background-color: transparent;
    }
  }
  
  h2{
    display: inline;
    font-size: 150%;
    letter-spacing: 0.03em;
    color: #EEE;
    font-family: "Jockey One", "Droid Sans", Arial, Helvetica, sans-serif;
    line-height: 6.5em;
    padding: 0 7.5em;
    float: right;
  }
  
  nav{
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #F60;
    
    a{
      font-family: "Jockey One", "Droid Sans", Arial, Helvetica, sans-serif;
    }
  }
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
  color: #222;
  letter-spacing: -2px;
}

p{
  font-size: 1.1em;
}

.ym-col1{
  width: 33%;
  margin: 0;
} /* left column */

.ym-col2{
  width: 33%;
  float: left;
  margin: 0;
} /* center column */

.ym-col3{
  margin-left: 33%;
  margin-right: 0%;
} /* right column */

#announcements{
  padding: 1.42857em;
  background: #EEE;
  
  h3{
    color: #F60;
    letter-spacing: 0px;
    font-weight: normal;
    font-family: "Jockey One", "Droid Sans", Arial, Helvetica, sans-serif;
  }
}

.ym-hlist{
  /* (en) containing floats in IE */
  width: 100%;
  overflow: hidden;
  position: relative;
  background: transparent;
  
  ul{
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
  }
  
  ul{
  
    li{
      display: inline;
      float: left;
      font-size: 1.0em;
      list-style-type: none;
      margin: 0;
      
      a, strong{
        background: transparent;
        color: #CCC;
        display: block;
        font-size: 1em;
        padding: 0.8em;
        font-weight: normal;
        font-size: 120%;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 200ms ease-in-out;
        text-shadow: none;
        line-height: 1em;
        
        &:focus, &:hover, &:active{
          color: #222;
          border-radius: 0;
          text-decoration: none;
          outline: 0 none;
          background-color: #EEE;
        }
        
        &.active{
          color: #F60;
        }
      }
    }
  }
}

/* do this with a mixin */
.ym-hlist ul li a.active strong, .ym-hlist ul li a.active:focus, .ym-hlist ul li a.active:hover, .ym-hlist ul li a.active:active{
  background: #F60;
  color: #222;
  text-decoration: none;
}

footer {
  background: #EEE;
  color: #444;
  
  p{
    margin: 0;
  }
}
