// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#announcements{
  padding: 2.5rem;
  margin-left: 2.5rem;
  background: #EEE;
  display: inline-block;
  width: 66%;
  float: right;

  section{
    margin: 1rem;
    float: left;
    width: 47%;

    h3{
      letter-spacing: 0;
      font-weight: normal;
      font-family: "Jockey One", "Droid Sans", Arial, Helvetica, sans-serif;
      margin: 0 0 0.5rem 0;
      font-size: 3.0rem;
    }

    a:hover, a:active, a:focus{
      color: #F60;
    }

    p{
      text-align: justify;
    }
  }
}
/* Phone */
@media only screen and (min-width: 31.2rem) and (max-width: 68.5rem){
  #announcements{
    font-size: 1.4rem;
    
    section{
      width: 28%;

      h3{
        font-size: 1.8rem;
      }
    }
  }
}

/* Ipod */
@media only screen and (min-width: 22.3rem) and (max-width: 31.1rem){
  #announcements{
    font-size: 1.4rem;
    
    section{
      width: 95%;

      h3{
        font-size: 1.8rem;
      }
    }
  }
}

/* Smaller */
@media only screen and (max-width: 22.2rem){
  #announcements{
    font-size: 1.4rem;
    
    section{
      width: 95%;

      h3{
        font-size: 1.8rem;
      }
    }
  }
}
