// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#announcements{
  padding: 2.5rem;
  background: #EEE;
  display: inline-block;

  div{
    width: 31%;
    margin: 1rem;
    float: left;

    h3{
      color: #F60;
      letter-spacing: 0;
      font-weight: normal;
      font-family: "Jockey One", "Droid Sans", Arial, Helvetica, sans-serif;
      margin-bottom: 2.1rem;
      font-size: 3.0rem;
    }

    p{
      text-align: justify;
    }
  }
}
