<section>
  <h2>Edit expense #<%= @expense.id %></h2>
  <%= render 'form' %>
  <p><%= link_to 'Show', @expense, :class => 'button show' %> <%= link_to 'Back', expenses_path, :class => 'button back' %></p>
</section>
