<section>
  <h2>Edit Skid #<%= @skid.id %></h2>
  <%= render 'form' %>
  <p><%= link_to 'Show', @skid, :class => 'ym-button ym-play' %> | <%= link_to 'Back', skids_path, :class => 'ym-button ym-close' %></p>
</section>
