<section>
  <h2>Edit Skid #<%= @skid.id %></h2>
  <%= render 'form' %>
  <p><%= link_to 'Show', @skid, :class => 'button show' %> <%= link_to 'Back', skids_path, :class => 'button back' %></p>
</section>
